<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>{{ config }}-封禁玩家列表</title>
        <!--不想要图标删除下面两行-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <!--删到这就行，别删多了-->
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    </head>
    <body>
        <div class="container">
            <h1>封禁玩家</h1>
            <!--往下面的p标签里添加-->
            <p class="lang_p">中文 | <a href="/en" class="lang_a">English</a></p>
            <ul>
                {% for item in data %}
                    <li class="player-info">
                        <img src="https://crafatar.com/avatars/{{ item.uuid }}?size=128" alt="Avatar"><br>
                        <strong>名称:</strong> {{ item.name }}<br>
                        <strong>封禁时间:</strong> {{ item.created }}<br>
                        <strong>原因:</strong> {{ item.reason }}
                    </li>
                {% endfor %}
            </ul>
            <div id="tips">
                <p id="tip">该页面为Minecraft服务器{{ config }}的页面，禁止造谣成其他服务器的页面</p>
                <p id="author">Made by <a href="https://space.bilibili.com/1055474496">duoduo13123678</a></p>
                <!--禁止删除以上两条信息，但你可以给{{config}}处改成超链接以引向自己的页面，或者修改自己不喜欢的文本，内容-->
                <!--超链接例子：<a href="你的服务器链接">{{config}}</a>-->
            </div>
        </div>
    </body>
</html>
